$color-black: #000000;
$color-white: #ffffff;
$color-marker: #20ad96;
$color-purple: #3f3a64;
$color-grey: #696969;
$color-black-secondary: #333333;
$color-white-secondary: #f5f7fa;
$color-socials-hyperlink: #b1b1b1;